## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
caffe/.ipynb_checkpoints
pytorch/.ipynb_checkpoints

# Editor temporaries
*.swp
*.swo
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
*.idea

# Visual Studio Code files
*.vscode

# OSX dir files
*.DS_Store

## Caffe

# User's build configuration
caffe/Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
*.caffemodel
*.caffemodel.h5
*.solverstate
*.solverstate.h5
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
caffe/build
caffe/.build_debug/*
caffe/.build_release/*
caffe/distribute/*
*.testbin
*.bin
caffe/python/caffe/proto/
caffe/cmake_build
caffe/.cmake_build

# Generated documentation
caffe/docs/_site
caffe/docs/gathered
caffe/_site
caffe/doxygen
caffe/docs/dev

# LevelDB files
*.sst
*.ldb
caffe/LOCK
caffe/LOG*
caffe/CURRENT
caffe/MANIFEST-*

pytorch/snapshot/*
pytorch/*.sh
tensorflow/snapshot/*
*.jpg
*.png
*.tar.gz
*.pth.tar
